@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.container {
    margin-left: 20%;
    margin-right:20%;
}

.submitButton {
    height: 30px;
    cursor: pointer;
    border: 0;
}

.myRepsSquare{
    height: 75px;
}
